@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(270deg, rgba(2, 0, 36, 1) 0%, rgba(243, 251, 255, 1) 0%, rgba(231, 231, 231, 1) 100%);
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

header {
    padding: 0.8em;
    background: #0F2027;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand--container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.brand--container img {
    height: 50px;
    margin-right: 15px;
}

.brand--container .title--header {
    color: #F4F4F2;
    font-size: 1.2em;
}

.link--info a {
    text-decoration: none;
    color: #F4F4F2;
    font-size: 1.2em;
}

.title--container {
    margin-top: 25px;
}

.title--text {
    font-size: 1.8em;
    font-weight: 500;
    text-align: center;
}

.welcome {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    font-family: 'Share', cursive;
    color: #0F2027;
}

.option--container {
    margin-top: 2em;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.--onView {
    justify-content: center !important;
}

.option--container article {
    cursor: pointer;
    aspect-ratio: 2 / 1;
    height: 150px;
    padding: 1em;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(180deg, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(180deg, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    transition: 0.1s;
    margin-bottom: 40px;
}

.option--container article:hover {
    transform: scale(1.05);
    background: -webkit-linear-gradient(180deg, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(180deg, #2C5364, #203A43, #0F2027);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.cardOnView {
    margin-bottom: 10px !important;
}

.inputData--container {
    padding-top: 0 !important;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.img--container {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    background: #F4F4F2;
    margin-right: 15px;
}

.img--container img {
    width: 70px;
}

.calcType--container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.calcType--title {
    text-align: center;
    font-size: 1.2em;
    color: #F4F4F2;
    font-weight: 500;
}

.inputData--container {
    display: flex;
    flex-direction: column;
}

.dataInput {
    margin-top: 30px;
}

.btn--container {
    display: flex;
    justify-content: center;

}

.showResult--container {
    width: 60%;
    margin: 1.5em auto;
    padding: 1em;
    border-radius: 5px;
    border: 2px solid rgb(38, 38, 38);
}

.showResult--container h4 {
    text-align: center;
}

#responseText {
    text-align: center;
}

.d-none {
    display: none;
}

/* ***************************************** */

.comeBack--btn {
    padding-top: 1em;
    margin-bottom: -1em;
    display: flex;
    justify-content: center;
}

.comeBack--btn span {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}

.comeBack--btn span a {
    font-size: 1em;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
}

.comeBack--btn span a:before,
.comeBack--btn span a:after {
    position: absolute;
    content: "â† Regresar";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    border-radius: 5px;
}

.comeBack--btn span a:before {
    color: #fff;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(180deg, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(180deg, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transform: rotateY(0deg) translateZ(25px);
}

.comeBack--btn span a:after {
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
    border: 5px solid black;
}

.comeBack--btn span a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
}

/* ***************************************** */

/* ----------------------------------- */
:root {
    --input-color: #99a3ba;
    --input-border: #cdd9ed;
    --input-background: #fff;
    --input-placeholder: #cbd1dc;
    --input-border-focus: #275efe;
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #eef4ff;
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678efe;
}

.form-field {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border 0.3s ease;
}

.form-field::placeholder {
    color: var(--input-placeholder);
}

.form-field:focus {
    outline: none;
    border-color: var(--input-border-focus);
}

.form-group {
    position: relative;
    display: flex;
    width: 100%;
}

.form-group>span,
.form-group .form-field {
    white-space: nowrap;
    display: block;
}

.form-group>span:not(:first-child):not(:last-child),
.form-group .form-field:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.form-group>span:first-child,
.form-group .form-field:first-child {
    border-radius: 6px 0 0 6px;
}

.form-group>span:last-child,
.form-group .form-field:last-child {
    border-radius: 0 6px 6px 0;
}

.form-group>span:not(:first-child),
.form-group .form-field:not(:first-child) {
    margin-left: -1px;
}

.form-group .form-field {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
}

.form-group>span {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: var(--group-color);
    background: var(--group-background);
    border: 1px solid var(--group-border);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.form-group:focus-within>span {
    color: var(--group-color-focus);
    background: var(--group-background-focus);
    border-color: var(--group-border-focus);
}

* {
    box-sizing: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
}


body .form-group {
    max-width: 360px;
}

body .form-group:not(:last-child) {
    margin-bottom: 32px;
}

/* ----------------------------------- */


/* ++++++++++++++++++++++++++++++++++++++++++ */
/* Fill button styling */
.fill {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.fill::after {
    content: "";
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(180deg, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(180deg, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.fill:hover::after {
    top: 0px;
    left: 0px;
}

/* End of Fill Button  */
/* ++++++++++++++++++++++++++++++++++++++++++ */


@media (max-width: 750px) {
    .option--container {
        flex-direction: column;
    }
}